.root{
    width: 83%;
    height: calc(100vh);
    float: right;
}
.contentBox{
    width: 94%;
    height: 600px;
    background-color: rgb(225, 232, 250);
    margin: 110px auto 0;
}
.title{
    text-align: center;
    background-color: #7a88ff;
    width: 120px;
    height: 30px;
    color: #fff;
    font-size: large;
    font-weight: bold;
    border-radius: 4px;
    transform: translate(10px,-10px);
}
.text1{
    width: 200px;
    height: 30px;
    text-align: center;
    margin: 0 auto 20px;
    font-size: large;
    background-color: #7a88ff;
    color: #fff;
    border-radius: 4px;
}
.boardBox{
    width: 90%;
    height: 400px;
    margin: 0 auto;
    background-color: #fff;
}
.menu{
    float: right;
    width: 1000px;
    height: 50px;
    background-color: #fff;
}
.notificationContent{
    float: right;
    width: 1000px;
    height: 100px;
    background-color: red;
}