.root{
    width: 83%;
    height: calc(100vh);
    float: right;
    background-color:antiquewhite;
}
.contentBox{
    width: 100%;
    height: 600px;
    background-color: pink;
}
.menu{
    float: right;
    width: 1000px;
    height: 50px;
    background-color: #fff;
}
.notificationContent{
    float: right;
    width: 1000px;
    height: 100px;
    background-color: red;
}