.msgBox {
    background-color: #fff;
    width: calc(54vw);
    /* min-height: 130px; */
    padding: 10px;
    margin: 2px auto;   
}
.text1 {
    padding-left: 20px;
    display: inline-block;
    font-size: large;
    width: 620px;
    margin: 10px auto;
    font-weight: bold;
}
.text2,.text3{
    margin-left: 20px;
    color: rgb(110, 110, 110);
    margin-bottom: 10px;
}