.msgBox {
    background-color:#fff;
    width: calc(68vw);
    /* min-height: 130px; */
    padding: 10px;
    margin: 2px auto;
    border-bottom: 1px solid rgb(199, 196, 196);   
}
.boardImg{
    cursor: pointer;
    margin-left: 40px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.text1 {
    cursor: pointer;
    padding-left: 20px;
    display: inline-block;
    font-size: large;
    width: 300px;
    margin: 10px auto;
    font-weight: bold;
}
.text2{
    width: 80px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 6px;
    margin-top: 6px;
    background-color: #a5adfa;
    color: #fff;
}
.des{
    vertical-align:middle;
    display: inline-block;
     /*1. 先强制一行内显示文本*/
   white-space: nowrap;  
   /*2. 超出的部分隐藏*/
    overflow: hidden;
   /*3. 文字用省略号替代超出的部分*/
    text-overflow: ellipsis;
    width: 300px;
}
.btn1{
    cursor: pointer;
    border: 1px solid #7a88ff;
    background-color: #7a88ff;
    color: #fff;
    border-radius: 4px;
    height: 30px;
    padding: 0 10px;
    margin-left: 20px;
}
.btn1:hover{
    color: #7a88ff;
    background-color: #fff;
}
.page{
    text-align: center;
    margin: 20px auto;
}