.noMessageBox {
    text-align: center;
    vertical-align: middle;
    width: 960px;
    height: 600px;
    background-color: #fff;
    margin: auto;
}

.notFoundImg {
    margin-top: 150px;
}

.notFoundText {
    font-size: 16px;
    color: #4e5969;
}