.relatedMember{
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
}
.relatedMember>.memberImg{
    vertical-align: top;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.relatedMember>.contentBox{
    text-align: left;
    display: inline-block;
    width: 100px;
    padding-left: 15px;
}
.contentBox>.text1{
    /*1. 先强制一行内显示文本*/
    white-space: nowrap;  
    /*2. 超出的部分隐藏*/
    overflow: hidden;
    /*3. 文字用省略号替代超出的部分*/
    text-overflow: ellipsis;
    color: #7952b3;
    font-size: small;
}