.sideBarBox {
    height: calc(140vh);
    width: 17%;
    background-color: #7a88ff;
    float: left;
    text-align: center;
}

.navigationBar {
    margin: auto;
    margin-top: 50px;
    width: 100%;
    background-color: #7a88ff;
}
.menu{
    background-color: #fff !important;
}
.managecontent{
    background-color: red;
}