.centerBox{
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}
/* 左侧部分 */
.leftBox{
    display: inline-block;
    background-color:#f0efef;
    height: 500px;
    width: 200px;
    vertical-align: top;
    text-align: center;
    border: 2px solid rgb(234, 232, 232);
}
.myTitle{
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: large;
}
.myPic{
    width: 100px;
    height: 100px;
    /* border-radius: 50px; */
    margin-bottom: 10px;
}
.my1,.my2{
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.ba{
     /*1. 先强制一行内显示文本*/
   white-space: nowrap;  
   /*2. 超出的部分隐藏*/
    overflow: hidden;
   /*3. 文字用省略号替代超出的部分*/
    text-overflow: ellipsis;
    display: inline-block;
    margin: 2px 6px;
    padding-left: 6px;
    padding-right: 6px;
    width: 80px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 4px;
}
.ba:hover{
    background-color: rgb(234, 232, 232);
}
/* 右侧部分 */
.rightBox{
    display: inline-block;
    background-color:#fff;
    height: 800px;
    width: 780px;
    margin-left: 20px;
}
.hotBox{
    border: 2px solid rgb(234, 232, 232);
}
.hot{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:#f0efef;
    width: 776px;
    height: 400px;
}
.hotTitle{
    font-weight: bold;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: large;
    background-color:#f0efef;
}
.hotBlockBox{
    width: 200px;
    height: 100px;
}
.hotPic{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.hot-text-box{
    vertical-align: top;
    display: inline-block;
}
.hot-text,.hot-text1{
    padding-left: 10px;
    width: 100px;
    height: 40px;
    line-height: 40px;
}
.hot-text1{
    font-weight: bold;
}
.diyShow{
    background-color: #f0efef;
    width: 780px;
    height: 400px;
    margin-top: 20px;
}