.cbox{
    width: 100%;
    background-color: rgb(245,245,245);
    height: 3000px;;
}
.centerBox{
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}
/* 左侧部分 */
.leftBox{
    display: inline-block;
    background-color:#fff;
    padding-bottom: 20px;
    width: 200px;
    vertical-align: top;
    text-align: center;
    border: 2px solid rgb(234, 232, 232);
}
.myTitle{
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: large;
}
.myPic{
    width: 100px;
    height: 100px;
    /* border-radius: 50px; */
    margin-bottom: 10px;
}
.my1,.my2{
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.ba{
     /*1. 先强制一行内显示文本*/
   white-space: nowrap;  
   /*2. 超出的部分隐藏*/
    overflow: hidden;
   /*3. 文字用省略号替代超出的部分*/
    text-overflow: ellipsis;
    display: inline-block;
    margin: 2px 6px;
    padding-left: 6px;
    padding-right: 6px;
    width: 80px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
}
.ba:hover{
    background-color: rgb(234, 232, 232);
}
.nofollow{
    color: rgb(144, 143, 143);
}
/* 右侧部分 */
.rightBox{
    display: inline-block;
    padding-bottom: 20px;
    width: 780px;
    margin-left: 20px;
}
.hotBox{
    border: 2px solid rgb(234, 232, 232);
}
.hot-region{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:#fff;
    width: 776px;
    height: 400px;
}
.hotTitle{
    font-weight: bold;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: large;
    background-color:#fff;
}
.hotBlockBox{
    width: 200px;
    height: 100px;
}
.hotPic,.hotPic1{
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.hot-text-box{
    vertical-align: top;
    display: inline-block;
}
.hot-text,.hot-text1{
    cursor: pointer;
    padding-left: 10px;
    width: 100px;
    height: 40px;
    line-height: 40px;
}
.hot-text1{
    font-weight: bold;
}
/* 下半部分 */
.hot-article{
    background-color: #fff;
    width: 780px;
    margin-top: 10px;
    padding-bottom: 40px;
    border: 2px solid rgb(234, 232, 232);
}
.hot-article-block{
    background-color: #fff;
    width: 720px;
    height: 120px;
    margin: 15px auto;
}
.hot-text-box1{
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
}
.hot-text2{
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    font-size: large;
    font-weight: bold;
}
.hot-text3{
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    font-size: large;
    color: #7952b3;
}
.hot-text4{
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    color: #a3a1a1;
}
.hotPic1{
    margin: 10px;
}