.pagination{
    /* background-color: #7952b3; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.relatedArticleBox{
    width: 800px;
    background-color:#f0efef;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.relatedTitle{
    height: 40px;
    line-height: 40px;
    font-size: large;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
}