.root{
    width: 83%;
    height: calc(140vh);
    background-color: rgb(225, 232, 250);
    float: right;
}
.imgBox{
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.img{
    width: 800px;
    height: 800px;
    margin: 20px auto;
}
.textBox{
    text-align: center;
    background-color: rgb(225, 232, 250);
}
.text1{
    margin-top: 100px;
    height: 50px;
    line-height: 50px;
    font-size: large;
    font-weight: bold;
    color: #7a88ff;
}