.root{
    width: 83%;
    height: calc(100vh);
    background-color: rgb(225, 232, 250);
    float: right;
}
.contentBox{
    width: 94%;
    background-color: rgb(225, 232, 250);
    margin: 110px auto 0;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow:
        -10px -10px 20px #fff, /*左边阴影*/
        10px 10px 20px #c6ccf7, /*右边阴影*/
        -10px -10px 20px #fff, /*顶部阴影*/
        10px 10px 20px #c6ccf7; /*底边阴影*/

}
.title{
    text-align: center;
    background-color: #7a88ff;
    width: 120px;
    height: 30px;
    color: #fff;
    font-size: large;
    font-weight: bold;
    border-radius: 4px;
    transform: translate(10px,-10px);
}
.text1{
    text-align: center;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    margin: 10px auto;
    background-color: #7a88ff;
    color: #fff;
    border-radius: 4px;
}
.text2{
    width: 80px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 6px;
    margin-top: 6px;
    background-color: #a5adfa;
    color: #fff;
}
.btnBox{
    text-align: center;
    margin-bottom: 20px;
}
.btn1{
    cursor: pointer;
    background-color: #7a88ff;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-right: 20px;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
}
.btn1:hover{
    background-color: #fff;
    color: #7a88ff;
}
.page{
    text-align: center;
    margin-top:20px;
}