.messageBlock{
    padding-left: 20px;
    display: block;
    min-height: 60px;
    width: 100%;
    margin-bottom: 10px;
}
.messageBlock1{
    padding-left: 20px;
    display: block;
    min-height: 60px;
    width: 100%;
    margin-bottom: 10px;
    background-color: red;
}
.imgBox{
    vertical-align: top;
    display: inline-block;
    background-color: pink;
}
.box{
    display: inline-block;
}
.box1{
    display: inline-block;
    background-color: #fff;
}
.messageBubble {
    margin-top: 4px;
    margin-left: 10px;
    padding: 0 10px;
    background-color: #7a88ff;
    color: #fff;
    border-radius: 5px;
    max-width: 500px;
    word-wrap: break-word;
}
.nickName,.nickName1{
    margin-left: 10px;
    width: 80px;
    font-size: 13px;
    color: #999;
}
.text{
    vertical-align: middle;
    margin: 0 auto;
    padding-bottom: 0;
}