.centerBox{
    width: 100%;
    background-color: rgb(245,245,245);
    overflow: hidden;
}
.articleBox{
    width: 1200px;
    margin: 20px auto;
    vertical-align: top;
}
.iconBox{
    position: fixed;
    display: inline-block;
    text-align: center;
    width: 130px;
    height: 200px;
    vertical-align: top;
    font-size:xx-large;
}
.icon{
    cursor: pointer;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    text-align: center;
    margin-left: 35px;
    font-size: xx-large;
    
    /* position: fixed; */
}
.like{
    font-size: xx-large;
    color: #7952b3;
}
.like:hover{
    color: #b49adc;
}
.article{
    margin-left: 130px;
    display: inline-block;
    width: 800px;
    background-color:#fff;
    vertical-align: top;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.articleTitle{
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 20px;
}
.authorBox1{
    margin-top: 20px;
    vertical-align: top;
    margin-bottom: 20px;
}
.authorImg1{
    height: 50px;
    height: 50px;
    border-radius: 25px;
    vertical-align: top;
}
.authorInfo1{
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}
.text3{
    font-size: large;
    font-weight: bold;
}
.authorBox{
    position: fixed;
    display: inline-block;
    background-color:blueviolet;
    width: 260px;
    margin-left: 10px;
    vertical-align: top;
}
.author{
    background-color:#fff;
    width: 260px;
    height: 180px;
}
.authorImg{
    margin-top: 20px;
    margin-left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    vertical-align: top;
}
.authorInfo{
    display: inline-block;
    margin-top: 20px;
}
.text1{
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    font-size: large;
    font-weight: bold;
}
.text2{
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
}
.likeBtn{
    cursor: pointer;
    width: 240px;
    height: 40px;
    background-color: #7952b3;
    border: 2px solid #7952b3;
    border-radius: 4px;
    color: #fff;
    border: 0;
    margin-top: 20px;
    margin-left: 8px;
    font-size: large;
    font-weight:400;
}
.likeBtn:hover{
    background-color: #fff;
    color: #7952b3;
    border: 2px solid #7952b3;
    border-radius: 4px;
}