.articleBox{
    background-color:antiquewhite;
    width: 1200px;
    height: 200px;
    margin: 10px auto;
    vertical-align: top;
}
.iconBox{
    display: inline-block;
    background-color: pink;
    width: 120px;
    height: 200px;
    vertical-align: top;
}
.article{
    display: inline-block;
    width: 800px;
    height: 200px;
    margin-left: 10px;
    background-color:cornflowerblue;
    vertical-align: top;
    padding-left: 40px;
}
.articleTitle{
    display: block;
    font-size: x-large;
    font-weight: bolder;
}
.author{
    display: inline-block;
    background-color:blueviolet;
    height: 200px;
    width: 240px;
    margin-left: 10px;
    vertical-align: top;
}